/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

/* Styling specific to the about page */
.about {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.about p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about ul {
    list-style-type: none;
    padding-left: 0;
}

.about ul li {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.about ul li:before {
    content: "\2022";
    color: #666;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about footer {
    background-color: transparent; /* Reset footer background color */
}


/* Contact section */
.contact {
    text-align: center;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    line-height: 1.6;
}

.contact a {
    color: #333;
    text-decoration: underline;
}

.contact a:hover {
    color: #000;
}
